.sidebar {
  width: 170px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding-top: 70px;
}

.sidebar::-webkit-scrollbar {
  display: none; 
}

.collection-item {
  width: 70%;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.25s, color 0.25s;
}

.menu-item {
  font-weight: 500;
  font-family: calibri;
  font-size: 20px;
  padding: 11px 16px;
  color: #565656;
  gap: 2px;
  margin: 0;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.25s, color 0.25s;
}

.menu-item:hover {
  color: #000000;
}

.menu-item.active {
  color: #000000;
  font-weight: 600;
}

.menu-item span {
  padding: 0;
  margin-left: 8px;
  position: absolute;
}

.menu {
  position: relative;
}

.menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2px;
  background: #cacaca;
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  pointer-events: none;
}

.collection-item {
  font-weight: 200;
  font-size: 14px;
  font-family: calibri;
  color: #565656;
  padding: 8px;
  margin: 12px;
  text-decoration: none;
  border-radius: 60px;
  gap: 3px;
  height: 12px;
  width: 100%;

}


.collection-item:hover {
  color: #000000;
  background-color: rgba(236, 236, 236, 0.275);
}

.collection-item.active {
  color: #000000;
  background-color: #dddddd49;
  border-radius: 50px;
}

.collection-list {
  padding: 0p 10px 0px 10px;
  align-self: center;
}

ul.collection-list{
  padding-right: 110px; /*to cancle outthe invisible padding and margin ivem to mycomponen*/
  margin: 0px;
}

.main-item-bar-div {
  padding: 5px 10px 5px 8px;
  height: 30px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.main-item-bar-div:hover {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

