.headerWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}


/*main layout below header*/
.contentWrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 10px);
  overflow: hidden;            /* lock page scroll */
}

.sidebarWrapper {
  width: 175px;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

.centerWrapper {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;     /* crucial for flex scrolling */
}

.favoritesWrapper {
  width: 265px;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

/* the .sidebar, .paletteGrid etc. styles from other files stay as they are */
.sidebarWrapper,
.centerWrapper,
.favoritesWrapper {
  min-width: 0;  
}

/* * {  /* the best thing i have learnt from this project
  outline: 1px solid red;
} */

.sidebarWrapper,
.centerWrapper,
.favoritesWrapper {
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebarWrapper::-webkit-scrollbar,
.centerWrapper::-webkit-scrollbar,
.favoritesWrapper::-webkit-scrollbar {
  display: none;
}
