.header {
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  border-bottom: 1.5px solid #d7d7d7;
}

.logoandname {
  display: flex;
  width: 90px;
  height: 65px;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 12px;
}

.logo img {
  max-width: 120px;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.searchBox {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 6px 10px;
  width: 60%;
  border-radius: 90px;
  border: 1.5px solid #cdcdcd;
  cursor: pointer;
}

.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
  font-family: sans-serif; 
}

.searchBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding-top: 5px;
}

.createBtn {
  background: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s ease;
}

.createBtn:hover {
  background: #c8c8c8;
}

.gif-btn {
  border: none;
  background: #ffffff;
  color: #000;
  padding: 10px 16px;
  cursor: pointer;
}

.gif-btn img {
  width: 40px;
  height: auto;
}
